/*RESET*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/*utilities*/

.flex{
    display: flex;
}

/*colours*/

.blue{
    color: #0084fd;
}

.gold{
    color: #fdc15f;
}

.gray{
    color: #5a6e7f;
}

.violet{
    color: #9792e4;
}

.white{
    color: white;
}

.black{
    color: black;
}

.bg-blue{
    background-color: #0084fd;
}

.bg-dark-gray{
    background-color: #333333;
}

.bg-lightblue{
    background-color: #b5ddff;
}

.bg-violet{
    background-color: #9792e4;
}

.bg-white{
    background-color: white;
}

/*style*/

.container{
    padding: 1rem 2rem;
}

.cards{
    flex-direction: column;
}

.card{
    width: 100%;
    border-radius: 50px;
    padding: 1.5rem 1rem;
    margin-bottom: 1rem;
}


/*header*/

header{
    justify-content: space-between;
    align-items: center;
}

header nav{
    color: white;
}



