/*RESET*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8rem;
}

span{
    display: inline-block;
}

/*utilities*/

.flex{
    display: flex;
}

.uppercase{
    text-transform: uppercase;
}

/*colours*/

.blue{
    color: #0084fd;
}

.gold{
    color: #fdc15f;
}

.gray{
    color: #5a6e7f;
}

.light-gray{
    color: lightgray;
}

.violet{
    color: #9792e4;
}

.white{
    color: white;
}

.black{
    color: black;
}

.bg-blue{
    background-color: #0084fd;
}

.bg-dark-gray{
    background-color: #333333;
}

.bg-lightblue{
    background-color: #b5ddff;
}

.bg-violet{
    background-color: #9792e4;
}

.bg-white{
    background-color: white;
}

/*style*/

.container{
    padding: 1rem 2rem;
}

.cards{
    flex-direction: column;
}

.card{
    width: 100%;
    border-radius: 20px;
    padding: 2.5rem 2rem;
    margin-bottom: 1rem;
}

.card>*{
    margin-bottom: 1.5rem;
}

section span:first-child{
    display: block;
}


/*header*/

header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

header nav{
    color: white;
}

/*introduction*/

#introduction .card{
    text-align: center;
    font-weight: bold;
}

#introduction .card h3{
    font-size: 1.5rem;
}

#introduction .card:first-child{
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#introduction .content>*{
    margin-bottom: 2.5rem;
}

#introduction .card:first-child button{
    border: none;
    padding: .6rem 4rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}


#introduction .card:first-child img{
    width: 60vw;
    margin-bottom: 0;
}

#introduction .card>i{
    font-size: 5rem;
}

/*Strategic planning*/

#strategic-planning .card img{
    width: 100%;
}

#strategic-planning .card:last-child{
    text-align: center;
}

#strategic-planning .card:last-child p{
    font-style: italic;
}

#strategic-planning .card:last-child i{
    font-size: 1.2rem;
    padding: 1.2rem;
    border-radius: 100%;
    margin-top: 1rem;
}

/*Testimonials*/

#testimonials{
    text-align: center;
}

#testimonials>*{
    margin-bottom: 1.5rem;
}

#testimonials img{
    width: 80%;
}

#testimonials .content i{
    font-size: 1.5rem;
}

.image-container{
    margin: 1rem auto;
    width: 45vw;
    height: 45vw;
    border-radius: 100%;
}

.testimonial-1{
    background-image: url(./img/testimonial1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonial-2{
    background-image: url(./img/testimonial2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonial-3{
    background-image: url(./img/testimonial3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#testimonials h3 {
    font-size: 1.5rem;
}

/*benefits*/

#benefits .card>*{
    margin-bottom: 1.2em;
}

#benefits h2:first-child{
    margin: 2rem 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

#benefits .card h3{
    font-size: 3.5rem;
}

#benefits .card h4{
    font-size: 1.5rem;
}

#benefits .card button{
    border: none;
    padding: .6rem 4rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

/*about us*/

#about-us .image-container{
    margin: 0 0 1.5rem;
}

#about-us h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

#about-us h3{
    font-size: 2rem;
    line-height: 3rem;
}

#about-us .card p{
    line-height: 2rem;
}

.about-image{
    background-image: url(./img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: end;
    font-size: 4rem;
}

#about-us button{
    border: none;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
}

/*get started*/

#get-started{
    text-align: center;
    font-size: 1.25rem;
    line-height: 2em;
}

#get-started>*{
    padding: .75em 0;
}

#get-started h2{
    font-size: 4rem;
}

#get-started h3{
    font-size: 2rem;
}

#get-started button{
    display: block;
    border: none;
    margin: 1.5rem auto;
    padding: 1.5rem 6rem;
    border-radius: 60px;
    font-weight: bold;
    font-size: 1.2rem;
}
