/*RESET*/

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.8rem;
}

span{
    display: inline-block;
}

/*utilities*/

.flex{
    display: flex;
}

.fl-column{
    flex-direction: column;
}

.uppercase{
    text-transform: uppercase;
}

/*colours*/

.blue{
    color: #0084fd;
}

.gold{
    color: #fdc15f;
}

.gray{
    color: #5a6e7f;
}

.light-gray{
    color: lightgray;
}

.violet{
    color: #9792e4;
}

.white{
    color: white;
}

.black{
    color: black;
}

.bg-blue{
    background-color: #0084fd;
}

.bg-dark-gray{
    background-color: #333333;
}

.bg-lightblue{
    background-color: #b5ddff;
}

.bg-violet{
    background-color: #9792e4;
}

.bg-white{
    background-color: white;
}

/*style*/

.container{
    padding: 1rem 2rem;
}

.card{
    width: 100%;
    border-radius: 20px;
    padding: 2.5rem 2rem;
    margin-bottom: 1rem;
}

.card>*{
    margin-bottom: 1.5rem;
}

section span:first-child{
    display: block;
}


/*header*/

header{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5rem;
}

header nav{
    color: white;
}

header ul{
    align-items: center;
}

header li{
    margin-left: 20px;
}

header nav button{
    border: none;
    padding: .6rem 1rem;
    border-radius: 20px;
}

header .desktop-li{
    display: none;
}

/*introduction*/

#introduction .card{
    text-align: center;
    font-weight: bold;
}

#introduction .card h3{
    font-size: 1.5rem;
}

#introduction .card:first-child{
    padding-bottom: 0;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

#introduction .content>*{
    margin-bottom: 2.5rem;
}

#introduction .card:first-child button{
    border: none;
    padding: .6rem 4rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}


#introduction .card:first-child img{
    width: 60vw;
    margin-bottom: 0;
}

#introduction .card>i{
    font-size: 5rem;
}

/*Strategic planning*/

#strategic-planning .card img{
    width: 100%;
}

#strategic-planning .card:last-child{
    text-align: center;
}

#strategic-planning .card:last-child p{
    font-style: italic;
}

#strategic-planning .card:last-child i{
    font-size: 1.2rem;
    padding: 1.2rem;
    border-radius: 100%;
    margin-top: 1rem;
}

/*Testimonials*/

#testimonials{
    text-align: center;
}

#testimonials>*{
    margin-bottom: 1.5rem;
}

#testimonials .card{
    flex-direction: column;
    justify-content: space-between;
}

#testimonials .content p{
    margin-bottom: 2rem;
}

#testimonials img{
    width: 80%;
}

#testimonials .content i{
    font-size: 1.5rem;
}

.image-container{
    margin: 1rem auto;
    width: 45vw;
    height: 45vw;
    border-radius: 100%;
}

.testimonial-1{
    background-image: url(./img/testimonial1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonial-2{
    background-image: url(./img/testimonial2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.testimonial-3{
    background-image: url(./img/testimonial3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#testimonials h3 {
    font-size: 1.5rem;
}

/*benefits*/

#benefits .card>*{
    margin-bottom: 1.2em;
}

#benefits h2:first-child{
    margin: 2rem 0;
    font-size: 2rem;
    line-height: 3rem;
    text-align: center;
}

#benefits .card h3{
    font-size: 3.5rem;
}

#benefits .card h4{
    font-size: 1.5rem;
}

#benefits .card button{
    border: none;
    padding: .6rem 4rem;
    border-radius: 20px;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 0;
    margin-top: 1rem;
}

/*about us*/

#about-us .image-container{
    margin: 0 0 1.5rem;
}

#about-us h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

#about-us h3{
    font-size: 2rem;
    line-height: 3rem;
}


#about-us .card{
    padding: 2rem 0;
}

#about-us .card p{
    font-size: 1.5rem;
    line-height: 2.5rem;
}

.about-image{
    background-image: url(./img/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: end;
    font-size: 4rem;
}

#about-us button{
    border: none;
    padding: .5rem 1rem;
    border-radius: 20px;
    font-size: 1rem;
}

/*get started*/

#get-started{
    text-align: center;
    font-size: 1.25rem;
    line-height: 2em;
}

#get-started .box{
    margin: 0 auto;
    max-width: 670px;
}

#get-started>.box>*{
    padding: .75em 0;
}

#get-started h2{
    font-size: 4rem;
}

#get-started h3{
    font-size: 2rem;
}

#get-started .box button{
    display: block;
    border: none;
    margin: 1.5rem auto;
    padding: 1.5rem 6rem;
    border-radius: 60px;
    font-weight: bold;
    font-size: 1.2rem;
}

body>footer{
    text-align: center;
}

body>footer .box{
    margin: 0 auto;
    max-width: 670px;
}

body>footer>.box>*{
    padding: 2rem 0;
}

/*-------------------------

MEDIA QUERY *mobile-first*

--------------------------*/


/*tablet query*/

@media screen and (min-width: 768px){

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    /*introduction*/

    #introduction .card{
        width: 30%;
    }

    #introduction .card:first-child{
        width: 65%; /* il 65% è dedotto dal fatto che ponendo 3 card da 30% l'una lo spazio rimanente fra di esse con space-between sarà il 10%. Essendoci 2 spazi in totale ciascuno varrà 5%. Percui la dimensione della card è doppia (60%) con l'aggiunta di uno dei due spazi (5%)*/
        align-items: flex-start;
        justify-content: space-between;
    }

    #introduction .card:first-child img{
        width: 30vw;
        margin-bottom: 0;
        text-align: left;
    }

    /*Testimonials*/

    #testimonials .card{
        padding: 1rem 0;
        flex-direction: row;
        justify-content: space-evenly;
    }

    #testimonials .image-container{
        width: 20vw;
        height: 20vw;
    }

    #testimonials .content{
        width: 65%;
        margin: 0;
        text-align: left;
        padding: 1.5rem 0;
    }

    #testimonials .content p{
        margin-bottom: .8rem;
    }

    /*benefits*/

    #benefits .cards{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    #benefits .card{
        width: 48%;
        margin-bottom: 4%;
    }

    /*about us*/

    #about-us .cards{
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 2rem;
    }

    #about-us .card:first-child{
        width: 52%;
    }

    #about-us .card:last-child{
        width: 32vw;
    }

    #about-us h3{
        font-size: 1.8rem;
        line-height: 2.4rem;
    }

    #about-us .image-container{
        width: 30vw;
        height: 30vw;
        margin: 0 auto 2rem;
    }

}


/*desktop query*/

@media screen and (min-width: 992px){

    header nav i{
        display: none;
    }

    header nav .desktop-li{
        display: inline;
    }

}
